<div class="form-left-col">
    <label>Manufacturer:</label>
    <input type="text" id="manufacturer" name="manufacturer" value="<%= manufacturer %>" disabled />
    <label>Model:</label>
    <input type="text" id="model" name="model" value="<%= model %>" required/>
    <label>Price:</label>
    <input type="text" id="price" name="price" value="<%= price %>"/>
    <label>Wiki: <a target="_blank" href="<%= wiki %>"><%= wiki %></a></label>
</div>
<div class="form-right-col">
    <img height="300" src="<%= img %>"/>
</div>
